body {
  background-image: url('background.jpg');
}

.wrapper {
  margin-top: 20px;
}

#keyboard {
  -webkit-user-select: none;
}

.panelLayer {
  opacity: 0.8;
  min-width: 724px;
  z-index: 1000;  
}

.panel {
  height: 220px;
  opacity: 0.9;
  z-index: 1010;  
}